profiles {
  conda {
    MAPPING.conda = 'bwa-mem2=2.2.1'
    BWA_INDEX.conda = 'bwa-mem2=2.2.1'
    FASTQC.conda = 'fastqc=0.12.1'
    FREEBAYES_VARIANT_CALLING.conda = 'freebayes=1.3.5 bcftools=1.14'
  }

  docker {
    MAPPING.container = 'staphb/bwa-mem2:latest'
    BWA_INDEX.container = 'staphb/bwa:latest'
    FASTQC.container = 'staphb/fastqc:latest'
    FREEBAYES_VARIANT_CALLING.container = 'staphb/freebayes:latest staphb/bcftools:latest'
    docker.enabled = true
  }
}